PORT=8000
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_password_here
MONGO_URI=mongodb://admin:your_password_here@mongo:27017/taskify?authSource=admin
OIDC_CLIENT_ID=taskify-client
OIDC_CLIENT_NAME=Taskify Application
OIDC_CLIENT_SECRET=your-secret-key-here-change-this